# Created by .ignore support plugin (hsz.mobi)
.idea
vaadin-dev-environment.iml

gitea/data
development/droneio/drone
development/gitlab/

development/nginx/certs
development/nginx/etc
development/nginx/conf/etc/nginx/conf.d/default.conf
